nav {
    
    background-color: green;
    height: 50px;
    line-height: 50px;
}

nav li {
    list-style: none;
    float: left;
    padding: 20px;

}

nav a {
    text-decoration: none;
    padding: 10px;
    color: red;
}
nav>ul>li{
    float: left;
}

nav a:hover {
    background-color: gray;
    font-size: 20px;
}
.drop{
    display: none;
    position: absolute;
    background-color: green;
    padding: 0%;
}
nav>ul>li:hover>ul{
    display: block;
}